:root {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
* > * {
  border: 1px solid black;
}

.container {
  display: grid;

  /* background-color: blue;     */
  min-width: 500px;
  min-height: 500px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.container * {
  background-color: #e0e0e0;
}

.container > *:hover {
  background-color: #ccc;
  cursor: pointer;
}

.result {
  grid-column: 1/5;
  color: white;
  background-color: #858693;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.zero {
  grid-column: 1/3;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange {
  background-color: #f5913e;
  font-size: 25px;
}
